@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Dancing+Script:wght@500&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    flex-direction: column;
    font-family: Bricolage Grotesque;
}
body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 20%;
    /* margin-left: 83%; */
    text-align: center;
    margin-top: 15px;
}
.main h1{
    display: flex;
  
}
.main p{
    font-size:medium;
    font-weight: lighter;
    
    margin-top: 10px;
}
p{
    font-size:medium;
    font-weight: lighter;
    
    
    
}
.div1 {
    background-color: white;
    height: 375px;
    width:90%;
    color: black;
    margin-top: 25px;
    margin-left: 5%;
    text-align: center;
}
.div1 p{
    font-size: 35px;
    position: absolute;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 90px;
}
img{
    height: 375px;
    margin-left: 1000px;
    width: 400px;
}
.div2 h1{

}
.div2{
    margin-top: 40px;
    width: 35%;
    margin-left: 32.5%;
    padding: 15px;
}
hr{
    width: 530px;
}
